<img src="/images/logos/KLRU_Logo-Black.png" alt="KLRU Logo" id="navLogo"/>
<ul class="navList">
  <li><a href="/">Home</a></li>
  <li><a href="/schedule">Schedule</a></li>
  <li><a href="/shows">Find a Show</a></li>
  <li><a href="/showKesiride">showKesiride</a></li>
  <li><a href="/news">News and Public Affairs</a></li>
  <li><a href="/kids">KLRU PBS Kids</a></li>
  <li><a href="/about">About KLRU</a></li>
</ul>