<nav>
  <img src="images/logos/KLRU_Logo-Black.png" alt="KLRU Logo" id="navLogo"/>
  <ul id="navList">
    <li><a href="/">Home</a></li>
    <li><a href="/schedule">Schedule</a></li>
    <li><a href="/about">About KLRU</a></li>
    <li><a href="/kids">KLRU PBS Kids</a></li>
  </ul>
</nav>