<div id="bannerArea">
  <a href="/">
    <img src="images/Kids/KLRU-Kids_Logo.png" alt="KLRU Kids Logo" id="bannerImage" />
  </a>
</div>

<a href="/">
  <div class="parentsButtonOuter">
    <div class="parentsButtonInner rotate">
      <h1>Parents + Educators</h1>
    </div>
  </div>
</a>

<div id="videoArea">
  <div id="iframeArea">
    <iframe src='http://pbskids.org/video/module/klru' frameborder="0" allowfullscreen style="position: absolute; top:0; left: 0; width: 100%; height: 100%;"></iframe>
  </div>
</div>

<div class="cloudArea">
  <div class="container">
    <div id="cloud-intro">
      <img src="images/Kids/CloudArea/boy-giraffe.png" alt="Boy and Giraffe" id="boyAndGiraffe" />
      <div id="cloudButtons">
        <div class="cloudButton">
          <a href="http://www.klru.org/schedule/?channel=18-1">
            <img src="images/Kids/CloudArea/circle-green.png" alt="Schedule">
          </a>
        </div>

        <div class="cloudButton">
          <a href="https://www.pbslearningmedia.org/student/">
            <img src="images/Kids/CloudArea/circle-yellow.png" alt="PBS LearningMedia for Students">
          </a>
        </div>
      </div>
      <img src="images/Kids/CloudArea/butterfly.png" alt="Butterfly" id="butterfly" /> 
      <img src="images/Kids/CloudArea/balloon.png" alt="Balloon" id="balloon" />
    </div>
  </div>
</div>

<div class="rotatingArea">
  <div class="fixed-size">
    <a href="http://www.klru.org/writerscontest">
      <img src="images/Kids/Rotating/KLRU-Writers-Contest_Logo.png" alt="KLRU Writers Contest Logo" />
    </a>
  </div>

  <div class="fixed-size2">
    <img src="images/Kids/Rotating/Divider.png" alt="Divider" class="rotatingDivider"/>
  </div>

  <div class="fixed-size">
    <a href="http://www.klru.org/education/resources-for-older-kids/">
      <img src="images/Kids/Rotating/Odd-Squad_Logo.png" alt="Odd Squad Logo" />
    </a>
  </div>

  <div class="fixed-size2">
    <img src="images/Kids/Rotating/Divider.png" alt="Divider" class="rotatingDivider"/>
  </div>

  <div class="fixed-size">
    <a href="http://www.klru.org/education/smart-screen-time/">
      <img src="images/Kids/Rotating/Smart-Screen-Time_Logo.png" alt="Smart Screen Time Logo" />
    </a>
  </div>

  <div class="fixed-size2">
    <img src="images/Kids/Rotating/Divider.png" alt="Divider" class="rotatingDivider"/>
  </div>

  <div class="fixed-size">
    <a href="http://pbskids.org/kartkingdom/">
      <img src="images/Kids/Rotating/Kart-Kingdom_Logo.png" alt="Kart Kingdom Logo" />
    </a>
  </div>
</div>

<div class="sponsorsArea_Big">
  <div id="sponsorsContainer_Big">
    <div id="sponsorsHeader_Big">
      <h1>Thank You to Our Sponsors:</h1>
    </div>
    <div id="innerSponsorsContainer_Big">
      <div class="sponsor_Big">
        <a href="http://www.kidoshoe.com/">
          <img src="images/Kids/Sponsors/KidOShoe_Logo.png" alt="Kid O Shoe Logo" class="sponsorImage_Big" />
        </a>
      </div>
      <div class="sponsor_Big">
        <a href="http://www.terratoys.com/">
          <img src="images/Kids/Sponsors/Terra-Toys_Logo.png" alt="Terra Toys Logo" class="sponsorImage_Big" />
        </a>
      </div>
      <div class="sponsor_Big">
        <a href="https://txmost.org/">
          <img src="images/Kids/Sponsors/TXMOST_Logo.png" alt="Texas Museum of Science and Technology Logo" class="sponsorImage_Big" />
        </a>
      </div>
    </div>
  </div>
  <div id="adContainer_Big">
    <a href="http://protectmypublicmedia.org/">
      <img src="images/Kids/Sponsors/PMPM_Logo.png" alt="Protect My Public Media Logo" id="ad_Big" />
    </a>
  </div>
</div>

<div class="sponsorsArea_Small">
  <div id="sponsorsHeader_Small">
    <h1>Thank You to Our Sponsors:</h1>
  </div>
  <div id="sponsorsContainer_Small">

    <div class="sponsor_Small">
      <a href="http://www.kidoshoe.com/">
        <img src="images/Kids/Sponsors/KidOShoe_Logo.png" alt="Kid O Shoe Logo" class="sponsorImage_Small" />
      </a>
    </div>

    <div class="sponsor_Small">
      <a href="http://www.terratoys.com/">
        <img src="images/Kids/Sponsors/Terra-Toys_Logo.png" alt="Terra Toys Logo" class="sponsorImage_Small" />
      </a>
    </div>

    <div class="sponsor_Small">
      <a href="https://txmost.org/">
        <img src="images/Kids/Sponsors/TXMOST_Logo.png" alt="Texas Museum of Science and Technology Logo" class="sponsorImage_Small" />
      </a>
    </div>

    <div id="adContainer_Small">
      <a href="http://protectmypublicmedia.org/">
        <img src="images/Kids/Sponsors/PMPM_Logo.png" alt="Protect My Public Media Logo" id="ad_Small" />
      </a>
    </div>
  </div>
</div>

<div id="footerArea">
  <div id="footerContainer">
    <img src="images/Kids/KLRU_Logo-Black.png" alt="KLRU Logo" id="footerLogo" />
    <div id="footerTextArea">
      <p><a href="http://www.klru.org/about/klrus-online-privacy-policy/">privacy policy</a> | <a href="http://www.klru.org/about/klrus-online-terms-of-service/">terms of service</a></p>
      <p>&copy 2017 KLRU-TV</p>
    </div>
  </div>
</div>
<script>
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create','UA-2505693-1','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2505693-1', 'auto');
  ga('send', 'pageview');

</script>