body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Navigation */
#navLogo {
  width: 10%;
}

#navList {
  padding: 0;
}

#navList li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

/* Board of Directors */
.boardMemberInfo {
  margin-bottom: 20px;
}

.boardMemberInfo p {
  margin: 0;
}

/* Administration */
.adminInfo {
  margin-bottom: 20px;
}

.adminInfo p {
  margin: 0;
}

/* Community Advisory Board */
#cabBoard {
  margin-bottom: 20px;
}

#cabBoard p {
  margin: 0;
}